$background: #434343;
$white: #f1f1f1;
$black: #0a0a0a;

// Panel
$panel-body: #7d7d7f;
$panel-border-radius: 10px;

// Screen
$screen-text: #434343;
$screen-back-light-off: #47b2b2;
$screen-back-light-on: #7fffff;
$screen-lock-font-size: 32px;
$screen-state-font-size: 45px;

// Buttons (Keypads)
$button: #63636e;
$button-text: #f3f3f3;
$button-font-size: 40px;
$button-size: 60px;
